#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}