#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}