#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 {
  position: absolute;
  width: 1024px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 > .clipping, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 > .paddingLayer {
  height: 64px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_7 span#rtr-t-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #DDDDDD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 {
  position: absolute;
  width: 1024px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 > .clipping, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 > .paddingLayer {
  height: 47px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_8 span#rtr-t-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Group_3 {
  position: absolute;
  width: 293px;
  height: 32px;
  z-index: 100;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 {
  position: absolute;
  width: 204px;
  height: 32px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Input_3 > .paddingLayer {
  height: 28px;
  width: 145px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 42px;
  padding-right: 17px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 > svg {
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 {
  position: absolute;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 > img, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_2 > svg {
  height: 20px;
  width: 19px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 {
  position: absolute;
  width: 95px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 > .clipping, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 > .paddingLayer {
  height: 32px;
  width: 95px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Rectangle_11 span#rtr-t-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 > svg {
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 {
  position: absolute;
  width: 8px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 > img, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_11 > svg {
  height: 19px;
  width: 8px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 > svg {
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 {
  position: absolute;
  width: 16px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 > img, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_32 > svg {
  height: 14px;
  width: 16px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 > svg {
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 {
  position: absolute;
  width: 20px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 > img, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Image_20 > svg {
  height: 15px;
  width: 20px;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 {
  position: absolute;
  width: 437px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 > .clipping, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 > .paddingLayer {
  height: 23px;
  width: 437px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_2 span#rtr-t-Paragraph_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 {
  position: absolute;
  width: 71px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 > .clipping, #t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 > .paddingLayer {
  height: 23px;
  width: 71px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 #t-Paragraph_3 span#rtr-t-Paragraph_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-5b86e2de-2509-44d8-bff6-61c204a8d8c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}