.sd_percentage { 
    font-family:sans-serif; 
    font-size: 15px; 
    width: 120px;
    height: 80px;
    border-radius: 9px;
    padding: 10px;
    text-align: center;
    background-color:floralwhite;
  }
  h3 {
    font-family:sans-serif;    
  }
.sd_navigation{
  padding: 10px;
  font-size: 15px; 
}
.sd_navigation_item{
  padding-right: 5px;
}
img.sd_navigation_item{
  width: 15px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.imageCenterAlign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topAlign{
  top:50%;
}