#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Space {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-textBlock {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e #s-bigTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-105f21f3-df69-40ef-8dba-19592dd61e8e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}