#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-arrow_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-arrow_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f5b90eb-2181-4483-a896-4f396da6d2c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}