#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_1 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_1 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_2 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_2 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_3 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_3 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_4 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_4 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_5 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Line_5 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-345ba5e5-188b-494b-81f9-38955a778d65 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}