#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-bigTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-624f7c95-5f4c-4f66-b576-04e3dbb578a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}