#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_2 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_3 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}