#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-arrow_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-798b60e3-197c-4449-a9b6-f63f22091796 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}