#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Table_1 {
  border-collapse: separate;
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-bigTitle {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba93c87-54da-4821-8ac7-c0adcac791c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}