#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-arrow_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-arrow_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_21 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 #s-arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a28e0964-90ca-4186-a23c-c7499dc919f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}