#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Image_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}