#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_2 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_2 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}