#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 {
  position: absolute;
  width: 515px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 > .clipping, #s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 span {
  color: #4D4D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #4D4D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 67px;
  font-size: 35.0pt;
  font-family: 'PT Mono',Arial;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 > .clipping, #s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'PT Mono',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'PT Mono',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 830px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_1 {
  width: 830px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
  box-shadow: none;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #shapewrapper-s-Line_2 marker {
  fill: #DDDDDD;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 830px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Line_2 {
  width: 830px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
  box-shadow: none;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Image_11 {
  position: absolute;
  width: 46px;
  height: 40px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Image_11 > img, #s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 #s-Image_11 > svg {
  height: 40px;
  width: 46px;
  box-shadow: none;
}
#s-aafb2cbb-504f-4a30-8dae-0e3f0356aea1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}