#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_8 {
  -ms-transform: rotate(180.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-b4f47ab7-49e2-4bb3-bcd3-5f5206f0dff4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}