{% extends "base.html" %}
{% block title %}RankIt - About{% endblock %}
{% block content %}
      <div class="starter-template">
        <h1>About</h1>
        <p class="lead"> This website was made by Group 6 </p>
      </div>
        <p> <ul>
            <li> Almas Dossymbekov - Front End - Javascript, HTML, CSS </li> 
            <li> Angel Millan - Database & Backend Developer</li>
            <li> Jim Walker - Middle End - Flask Wrangler</li>
            <li> Paolo Marangio - Usability Analysis - Project Evaluation - Web Crawler experimenter</li>
            <li> Racky - UI Designer & UX </li>
        </ul></p>
	<p>The Unistats Dataset is reproduced with the permission of the Office for Students (OfS), the Higher Education Statistics Agency (HESA) and their licensors. The Unistats Dataset may be accessed in its original form here: www.hesa.ac.uk/support/tools-and-downloads/unistats.  All copyright and other intellectual property rights in the Unistats Dataset are owned by OfS, HESA and their licensors.</p>
	{% endblock %}
