{% extends "base.html" %}
{% block title %}RankIt - About{% endblock %}
{% block content %}
      <div class="starter-template">
        <h1>About</h1>
        <p class="lead"> This website was made by Group 6 </p>
      </div>
        <p> <ul>
            <li> Almas Dossymbekov - Front End - Javascript, HTML, CSS </li> 
            <li> Angel Millan - Database & Backend Developer</li>
            <li> Jim Walker - Middle End - Flask Wrangler</li>
            <li> Paolo Marangio - Usability Analysis - Project Evaluation - Web Crawler experimenter</li>
            <li> Racky - UI Designer & UX </li>
        </ul></p>
{% endblock %}
