{% extends "base.html" %}
{% block title %}Rank it

{% endblock %}
{% block content %}

      <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='css/a.css') }}" rel="stylesheet">
<br><br>
      <div class="container" style="padding:10px">
          <div class='row sd_navigation'>
            <a href="/" class="sd_navigation_item" style="color:#333333"><u>Home</u></a>
            <img class="sd_navigation_item" src="/static/images/next1.png" disabled/>
            <a href="/institution/{{institution.UKPRN}}" class="sd_navigation_item" style="color:#333333"><u>
            {%if institution.PROVIDER_NAME%}{{institution.PROVIDER_NAME.title()}}{%endif%}</u></a>
            <img class="sd_navigation_item" src="/static/images/next1.png" disabled/>
            <label class="sd_navigation_item">{{course.TITLE}}</label>
          </div>
      </div>

      <div class="starter-template">
        <h1 id="uni_name" style="text-align: center"> {{university_name}} </h1>
        <h1>{{course.TITLE}}</h1>
      </div>


      <div class="panel panel-default sd-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                 <span class="glyphicon glyphicon-share"></span> Programme links
            </h3>
        </div>
        <div class="btn-group btn-group-justified">
            <a href="{{course.CRSEURL}}" class="btn btn-primary">Course Page</a>
            <a href="{{course.ASSURL}}" class="btn btn-primary">Assessment</a>
            <a href="{{course.EMPLOYURL}}" class="btn btn-primary">Employment Opportunities</a>
            <a href="{{course.SUPPORTURL}}" class="btn btn-primary">Financing</a>
            <a href="{{course.LTURL}}" class="btn btn-primary">Teaching Methods</a>
          </div>
      </div>

      <div class="panel panel-default sd-panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Useful information
            </h3>
        </div>
        <div class="panel-body" id="pro_dscri">        


          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="width:25%">Graduation rates</th>
                <th scope="col" style="width:25%">Employment chance</th>
                <th scope="col" style="width:25%">Expected Salary</th>
                <th scope="col" style="width:25%">Student Satisfaction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% if course.graduation_rate_percent[0] > 0.0 %}
                    {{course.employment_rate_percent[0]}}%
                  {%else%}
                    No data available
                  {%endif%}

                </td>
                <td>

                  {% if course.employment_rate_percent[0] > 0.0 %}
                    {{course.employment_rate_percent[0]}}%
                  {%else%}
                    No data available
                  {%endif%}

                </td>
                <td>
                  
                  {% if course.salary[0]["INSTMED"] > 0.0 %}
                    £ {{course.salary[0]["INSTMED"]}}
                  {%else%}
                    No data available
                  {%endif%}

                </td>
                <td>
                  {% if course.nss[0]["Q27"] > 0.0 %}
                    {{course.nss[0]["Q27"]}} %
                  {%else%}
                    No data available
                  {%endif%}


                </td>
              </tr>
            </tbody>
        </table>
        </div>

        {% if related_courses %}
        <div class="panel-body" id="pro_dscri"> 
            <h4>Related courses in 

            <b>{{course.subject_description[0].title()}}</b> at 


        {%if institution.PROVIDER_NAME%}
          <a href="/institution/{{institution.UKPRN}}">
        {{institution.PROVIDER_NAME.title()}}
        <a/>
        {%else%}
          this institution
        {%endif%}

        </h4>
            <ul class="list-group">
       
          {%for course in related_courses%}
            <li class="list-group-item"><a href="{{url_for('course', UKPRN=course.UKPRN, KISCOURSEID=course.KISCOURSEID)}}"> {{course.TITLE}}</a></li>
          {%endfor%}
        </div>
        {%endif%}
      </div>



{% endblock %}