{% extends "base.html" %}
{% block title %}Rank it{% endblock %}
{% block content %}
        
<script src="{{ url_for('static',filename='js/my.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/a.css') }}" rel="stylesheet"><br>
        <link href="{{ url_for('static',filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet"> 
        <div class="container" style="padding:10px">
            <div class='row sd_navigation'> <!-- navaigation -->
              <a href="/" class="sd_navigation_item" style="color:#333333"><u>Home</u></a>
              <img class="sd_navigation_item" src="/static/images/next1.png" disabled/>
              <label class="sd_navigation_item">{{inst.PROVIDER_NAME.title()}}</label>
            </div>
            <div class="row"> <!-- Name -->
              <div class="col-md text-center">
                <p style="font-family: Open sans-serif; font-size: 35px; font-weight: bold">{{inst.PROVIDER_NAME.title()}}</p>
              </div>
            </div>
            <div class="row imageCenterAlign topAlign">  <!-- about and logo -->
              <div class="col-md-6 equal center-block image-center">
                <p style="font-family:sans-serif; font-size: 18px"><br>{{wiki.summary}}<a href={{wiki.url}}> ...</a></p>
                </initrd.imgv>
              </div>
              <div class="col-md-6 equal">
                <img src={{logo}} height="300" class="center-block image-center" />
              </div> 
            </div>
            <div class="row">  <!-- 'Programme' title -->
              <div class="col-md-8">
                <h3>Top courses at {{inst.PROVIDER_NAME.title()}} by student feedback:</h3>
              </div>
            </div>
            <div class="row">  <!-- Programs' list -->
                <div class="col-md-6">
                    <ul style="padding-right:-20px">
                    {% if top_courses %}
                    {% for c in top_courses %}
                      <li><a style="font-family:sans-serif; font-size: 20px" href="/course/{{inst.UKPRN}}/{{c.KISCOURSEID}}">{{c.TITLE}}</a></li>
                    {% endfor %}
                    {% else %}
                        <li> No courses found </li>
                    {% endif %}
                    </ul>
                </div> 
                <!--div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6 text-right" ><label class="sd_percentage">Graduation rates </br>76%</label></div>
                        <div class="col-md-6 text-left"><label class="sd_percentage">Employment chances </br>85%</label></div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 text-right"><label  class="sd_percentage">Avarage salary <br>72%</label></div>
                        <div class="col-md-6 text-left"><label class="sd_percentage">Teaching excellence 70%</label></div>
                      </div>      
                </div --> 
            </div>  
        </div>
<div class="starter-template" hidden>
        <h1>list of universities</h1>
        <p class="lead">
        </p>
        <input type="button" value="get universities">
        <input type="submit" value="get">
</div>
        <div class="container">
            <h3> All Courses at this Institution </h3>
            <table id="example" class="table table-hover table-bordered table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th class="col-md-3 text-center">Name</th>
                    <th class="col-md-3 text-center">Graduation Rate</th>
                    <th class="col-md-3 text-center">Employment Rate</th>
                    <th class="col-md-3 text-center">Salary</th>
                    <th class="col-md-3 text-center">Teaching Excellence</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {%for c in all_courses %}
                        <tr>
                            <td class="col-md-3 text-center"><a href="/courses/{{inst.UKPRN}}/{{c.KISCOURSEID}}">{{c.TITLE}}</a></br></td>
                            <td class="col-md-3 text-center">{{c.graduation_rate_percent}}</br></td>
                            <td class="col-md-3 text-center">{{c.employment_rate_percent}}</br></td>
                            <td class="col-md-3 text-center">{{c.median_salary}}</br></td>
                            <td class="col-md-3 text-center">{{c.nss.0.Q27}}</br></td>
                        </tr>
                    {%endfor%}  
                </tbody>
            </table>   
        </div>

{% endblock %}
