{% extends "base.html" %}
{% block title %}Rank it{% endblock %}
{% block content %}
      <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='css/a.css') }}" rel="stylesheet">
      
      <div class="starter-template">
        <h1>Rank it!</h1>
        <p class="lead">A research tool for prospective university students</p>
      </div>

     <form action="" class="container ">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="studyLevelSelect">Study Level</label>
                <select name="study" class="form-control" id="studyLevelSelect">
                        <option>Undergraduate</option>
                        <option>Postgraduate</option>
                </select>        
            </div>
            <div class="form-group col-md-3 ">
                <label for="regionSelect">Region</label>
                <select name="region" class="form-control" id="regionSelect">
                        <option>Worldwide</option>
                        <option>UK</option>
                </select> 
            </div>
            <div class="form-group col-md-3 ">
                <label for="departmentSelect">Department</label>
                <select name="department" class="form-control" id="departmentSelect">
                        <option>All departments</option>
                        <option>Computer Science</option>
                </select>    
            </div>
            <div class="form-group col-md-3 ">
                <label for="yearSelect">Year</label>
                <select name="year" class="form-control" id="yearSelect">
                        <option>2018</option>
                        <option>2017</option>
                </select>
            </div>
        </div>

        <div class="row ">
            <div class="form-group col-md-3">
                <label>Graduation rates</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="studyLevelRange">
                <label id="sliderval1">50</label>        
            </div>
            <div class="form-group col-md-3">
                <label>Employment chance</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="employmentChanceRange">
                <label id="sliderval2"></label>        
            </div>
            <div class="form-group col-md-3">
                <label>Quality of life</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="qualityOfLifeRange">
                <label id="sliderval3"></label>        
            </div>
            <div class="form-group col-md-3">
                <label>Teaching excellence</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="teachingExcellenceRange">
                <label id="sliderval4"></label>        
            </div>
        </div>

        <div class="row">
            <div class="text-center">
            <!--div class="col-md-3 col-md-offset-3"-->
            <!--div class="col-md-3 col-center"-->    
              <button type="button" class="btn btn-default">Rank</button>
            </div>
        </div>
     </form>

        <script>
        var slider1 = document.getElementById("studyLevelRange");
        var output1 = document.getElementById("sliderval1");
        output1.innerHTML = slider1.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider1.oninput = function() {
          output1.innerHTML = this.value;
        }

        var slider2 = document.getElementById("employmentChanceRange");
        var output2 = document.getElementById("sliderval2");
        output2.innerHTML = slider2.value; 
        slider2.oninput = function() {
          output2.innerHTML = this.value;
        }

        var slider3 = document.getElementById("qualityOfLifeRange");
        var output3 = document.getElementById("sliderval3");
        output3.innerHTML = slider3.value; 
        slider3.oninput = function() {
          output3.innerHTML = this.value;
        }

        var slider4 = document.getElementById("teachingExcellenceRange");
        var output4 = document.getElementById("sliderval4");
        output4.innerHTML = slider4.value; 
        slider4.oninput = function() {
          output4.innerHTML = this.value;
        }
        </script>   

    
{% endblock %}
