{% extends "base.html" %}
{% block title %}Rank it{% endblock %}
{% block content %}
        
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        
        <div class="container">
            <div class="row bg-primary">
              <div class="col-md text-center">
                <h2>{{inst.PROVIDER_NAME}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 bg-success">
                  <p><br>{{wiki.summary}}<a href={{wiki.url}}>...</a></p>
                  

              </initrd.imgv>
              </div>
              <div class="col-md-6 bg-danger">
                <img src={{logo}} width="200" height="200" class='img-responsive center-block' />
              </div> 
            </div>
            <div class="row bg-info">
              <div class="col-md-8">
                <h5>Departments</h5>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-warning">
                    <ul>
                    {% for c in range(5) %}
                      <li><a href="/course/{{courses[c].KISCOURSEID}}">{{courses[c].TITLE}}</a></li>
                    {%endfor%}
                    </ul>
                </div> 
                <div class="col-md-6 bg-danger">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 bg-primary col-centered" ><label>Graduation rates 76%</label></div>
                        <div class="col-md-2 bg-success col-centered"><label>Employment chances 85%</label></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 bg-info"><label>Quality of life measures 72%</label></div>
                        <div class="col-md-2 bg-warning"><label>Teaching excellence 70%</label></div>
                      </div>
                    </div>      
                </div> 
            </div>  
        </div>

      {% endblock %}
